.min-vh-50 {
  min-height: 50vh;
}

.min-vh-75 {
  min-height: 75vh;
}

.min-vh-60 {
  min-height: 60vh;
}

.bg-main-search {
  background-color: #fff;
}



.basic-layout {
  background-color: $app_background;
}

.main-page {
  background-color: $app_background;
}

.wall-page {
  background-color: $app_background;
}

%uni-img-base {
  border-radius: 50%;
  object-fit: contain;
  background-color: white;
}

$main-img-size: 6rem;

.main-uni-img {
  @extend %uni-img-base;
  width: $main-img-size;
  height: $main-img-size;
}

$filter-uni-img-size: 2.5rem;

.filter-uni-img {
  @extend %uni-img-base;
  width: $filter-uni-img-size;
  height: $filter-uni-img-size;
}

// Search box
%search-box-part {
  background-color: $searchBox_background;
}

$search-box-round: 2rem;

.search-box-input,
.search-box-input:focus {
  @extend %search-box-part;
  outline: none;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  max-width: 30rem;
}

.autocomplete {
  position: relative;
}

.search-box-button {
  background-color: darken($searchBox_background, 5);
  outline: none;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  color: $color-primary;
  border-radius: 0;
  border-top-right-radius: $search-box-round;
  border-bottom-right-radius: $search-box-round;

  &:focus {
    //@extend %search-box-part;
    background-color: darken($searchBox_background, 5);
    color: $color-primary-dark;
    outline: none;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
  }

  &:hover {
    background-color: darken($searchBox_background, 15);
  }
}

.search-box-icon {
  @extend %search-box-part;
  color: #444444;
  border-top-left-radius: $search-box-round;
  border-bottom-left-radius: $search-box-round;
}

.autocomplete-items {
  position: absolute;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  cursor: pointer;
  background-color: #fff;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

$filter-button-radius: 0.5rem;

.filter-button {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-top-left-radius: $filter-button-radius;
  border-top-right-radius: $filter-button-radius;
  z-index: 9999;

  &.active {
    background: #fff8;
    font-weight: bold;
    border-bottom: 10px solid #fff;
  }
}

.filter-items-body {
  background: white;
  max-height: 500rem;
  overflow-y: scroll;
}

.filter-item {
  width: 100%;

  &>div:hover,
  &:hover {
    background: #0001;
    text-decoration: none;
  }

  &.active>div,
  &.active {
    background: #0002;
    color: $color-secondary-dark;
  }
}

// \Search box

.divider {
  display: inline-block;
  min-width: 1.5px;
  min-height: 1rem;
  background-color: #444444;
}