.post {
  border-color: darken($app_background_dark, 0%);
  border-width: 1px;
  border-style: solid;
  border-radius: 1rem;
  background-color: $post_background;
  box-shadow: 5px 5px 8px #00000022;
}

.post-header {
  background: $app_background_dark;
  font-weight: 600;
}

.post .post-header {
  border-top-left-radius: $post_border-radius;
  border-top-right-radius: $post_border-radius;
}

%post-body-base {
  padding: 1rem;
}

.post-body {
  padding: $post-body_padding;
}

.post-user-name {
  font-size: 1.2rem;
  font-weight: 600;
}

.post-time {
  font-size: 1rem;
  font-weight: 300;
  color: #666;
}

.post-profile-image {
  max-width: $post-profile-image_size;
  width: $post-profile-image_size;
  min-width: $post-profile-image_size;
  max-height: $post-profile-image_size;
  height: $post-profile-image_size;
  min-height: $post-profile-image_size;
  object-fit: cover;
  border-radius: 50%;
}

.add-post-profile-img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.add-post-input-text {
  min-height: 3.5rem;
}

.add-post-type {
  margin-right: 0.5rem;
  background-color: #fff;
  color: $color-secondary;
  box-shadow: 3px 3px 3px #00000022;
  border: 1.5px solid lighten($color-secondary, 20);
  border-radius: 3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  &:hover {
    box-shadow: 5px 5px 5px #00000022;
    background-color: #f1f1f1;
  }
}

$add-post-item-to-upload-size: 10rem;

.add-post-item-to-upload {}

.add-post-item-to-upload-content {
  height: $add-post-item-to-upload-size;
  width: $add-post-item-to-upload-size;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $radius-sm;
  background-color: #fafafa;
  border: 1.5px solid #aaa;

  &.add {
    background-color: #ddd;
    border: 1.5px $color-secondary solid;

    &:hover {
      background-color: #ccc;
    }
  }

  & img {

    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    //border: 1.5px transparent solid;
  }
}

.add-post-item-to-upload-text {
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: $add-post-item-to-upload-size;
  font-size: $text-xs;
}


.post-type {
  // background-color: $app_background_dark;
  margin-right: 0.5rem;
  // background-color: #ddd;
  border-width: 2px;
  border-style: solid;
  border-color: #000;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  //cursor: pointer;
  border-radius: 16px;
  font-size: 1rem;
}

.post-text {}

.post-likes {
  padding-left: $post-body_padding;
  padding-right: $post-body_padding;
}

.likes-count-lg {
  background-color: $color-secondary;
  font-size: $text-sm;
  padding: 0.2rem 1.5rem;
  border-radius: 2rem;
  color: white;
  border: 1.5px solid $color-secondary-dark;
}

.likes-count-sm {
  background-color: $color-secondary;
  font-size: $text-xs;
  padding: 0.2rem 1rem;
  border-radius: 2rem;
  color: white;
  border: 1.5px solid $color-secondary-dark;
}

.comment-likes {
  transform: translate(0, -0.85rem);
}

.navbar {
  background-color: $color-primary;
  color: white;
}

.vertical-align-middle {
  vertical-align: middle;
}

.post-comment-profile-img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
}

.post-comment-text {
  background-color: $app_background;
  border-radius: 1.5rem;
}

.post-wrtie-comment {
  border-radius: 8rem;
  width: 35rem;
  max-width: 100%;
}

.scroll-menu {
  overflow-x: auto;
  white-space: nowrap;
}