html {
  font-size: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

button,
a {
  color: $color-secondary;
  background: none;
  border: 0;
  box-shadow: 0;
}

button:hover,
a:hover {
  color: $color-secondary-dark;
}

.text-xs {
  font-size: $text-xs;
}

.text-sm {
  font-size: $text-sm;
}

.text-md {
  font-size: $text-md;
}


.text-lg {
  font-size: $text-lg;
}

.bg-color-primary {
  background-color: $color-secondary;
}

.bg-white {
  background-color: #ffffff;
}

.color-primary {
  color: $color-primary;
}

.color-primary-dark {
  color: $color-primary-dark;
}

.color-primary-light {
  color: $color-primary-light;
}

.color-secondary {
  color: $color-secondary;
}

.color-secondary-dark {
  color: $color-secondary-dark;
}

.color-secondary-light {
  color: $color-secondary-light;
}

.color-white {
  color: #fff;
}

.bold-min {
  font-weight: 100;
}

.bold-med {
  font-weight: 600;
}

.bold-max {
  font-weight: 800;
}

.pointer {
  cursor: pointer;
}