$searchBox_background: #dddddd;
$color-primary: #0D1D3E;
$color-primary-light: lighten($color-primary, 10%);
$color-primary-dark: darken($color-primary, 10%);
$color-secondary: #F16622;
$color-secondary-light: lighten($color-secondary, 10%);
$color-secondary-dark: darken($color-secondary, 10%);
$app_background: #ececec;
$app_background_dark: darken($app_background, 10);
$app_background_light: lighten($app_background, 3);
$post_background: #ffffff;