// Colors
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
$post_border-radius: 1rem;
$post-body_padding: 1rem;
$post-profile-image_size: 4rem;
$text-xs: 1rem;
$text-sm: 1.3rem;
$text-md: 1.7rem;
$text-lg: 2.1rem;
$radius-sm: 0.6rem;
$radius-md: 1rem;
$radius-lg: 1.5rem;